
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif;
}
.showcase {
  background: rgba(2, 13, 17, 0.5);
  color: #fff;
  height: 100vh;
  position: relative;
}
.showcase:before {
  content: '';
  background: url(truebsee-5337649_1920.jpg) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.showcase .inner
{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100%;
}
.showcase .inner h1
{
   font-size: 5rem;
}
.showcase .inner p
{
   font-size: 1.2rem;
   margin-top: 10px;
}
.bar 
{
   z-index: 1;
   position: fixed;
   height: 100%;
   width: 30px;
   background-color: #36393f;
   overflow: hidden;
   transition: 0.8s;
   box-shadow: 5px 5px 10px rgb(141,141,141);
}
.bar:hover
{
   width: 140px;
}
.bar:hover .menu ul li span
{
   opacity: 1;
   pointer-events: visible;
}
.bar .menu
{
   display: flex;
   width: 30px;
   height: 100%;
   background-color: #36393f;
   color: #f2f2f2;
}
.menu a i
{
   margin-left: 5px;
   margin-top: 100px;
   font-weight: bolder;
   color: white;
}
.menu a span
{
   position: absolute;
   margin-top: 100px;
   margin-left: 20px;
   opacity: 0;
   font-size: 15px; 
   transition: 1.2s;
   color: white;
}
.menu ul li
{
  display: flex;
  cursor: pointer;
}
.menu ul li:hover span
{
   margin-left: 50px;
   color: white;
}
